In [73]:
import numpy as np
import pandas as pd
np.random.seed(0)
df = pd.DataFrame({'state': ['CA', 'WA', 'CO', 'AZ'] * 3,
                   'office_id': list(range(1, 7)) * 2,
                   'sales': [np.random.randint(100000, 999999)
                             for _ in range(12)]})

In [74]:
df

   state  office_id   sales
0     CA          1  405711
1     WA          2  535829
2     CO          3  217952
3     AZ          4  252315
4     CA          5  982371
5     WA          6  459783
6     CO          1  404137
7     AZ          2  222579
8     CA          3  710581
9     WA          4  548242
10    CO          5  474564
11    AZ          6  835831

In [75]:
find the percentage office 1 did compare to the total sells of california

SyntaxError: invalid syntax (<ipython-input-75-e4e9dcabb7c6>, line 1)

In [76]:
total_sales_in_each_state = df.groupby(['state'])['sales']

In [77]:
total_sales_in_each_state.sum()

state
AZ    1310725
CA    2098663
CO    1096653
WA    1543854
Name: sales, dtype: int64

In [78]:

total_sales_in_each_state.sum(['state'])

TypeError: f() takes 1 positional argument but 2 were given

In [79]:
total_sales_of_office1 = df['sales'][0]

In [80]:
total_sales_of_office1

405711

In [81]:
percent_of_office1_sales = total_sales_in_each_state['sales']/total_sales_of_office1

IndexError: Column(s) sales already selected

In [82]:
state_office = df.groupby(['state', 'office_id']).agg({'sales': 'sum'})

In [50]:
state_office

                  sales
state office_id
AZ    2          222579
      4          252315
      6          835831
CA    1          405711
      3          710581
      5          982371
CO    1          404137
      3          217952
      5          474564
WA    2          535829
      4          548242
      6          459783

In [56]:
# Change: groupby state_office and divide by sum
state_pcts = state_office.groupby(level=0).apply(lambda x:abs
                                                 100 * x / float(x.sum()))
#(level=0) makes the lambda function to all of the items in the series on the [0] index

SyntaxError: invalid syntax (<ipython-input-56-470de383d7fd>, line 3)

In [55]:
state_pcts

                     sales
state office_id
AZ    2          16.981365
      4          19.250033
      6          63.768601
CA    1          19.331879
      3          33.858747
      5          46.809373
CO    1          36.851857
      3          19.874290
      5          43.273852
WA    2          34.707233
      4          35.511259
      6          29.781508

In [58]:
state_pcts.unstack().unstack()

       office_id  state
sales  1          AZ             NaN
                  CA       19.331879
                  CO       36.851857
                  WA             NaN
       2          AZ       16.981365
                  CA             NaN
                  CO             NaN
                  WA       34.707233
       3          AZ             NaN
                  CA       33.858747
                  CO       19.874290
                  WA             NaN
       4          AZ       19.250033
                  CA             NaN
                  CO             NaN
                  WA       35.511259
       5          AZ             NaN
                  CA       46.809373
                  CO       43.273852
                  WA             NaN
       6          AZ       63.768601
                  CA             NaN
                  CO             NaN
                  WA       29.781508
dtype: float64

In [61]:
pd.merge()

TypeError: merge() missing 1 required positional argument: 'right'

KeyError: '_STATE'